* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }

  .random-info, 
  .quote, 
  .action-call {
    flex: 1;
  }

  .header-hero,
  .footer {
    background-color: #1F2937;
    color: #F9FAF8;
  }

  .header {
    display: flex;
  }

  .header h1 {
    font-size: 24px;
    color: #F9FAF8;
  }

  .hero-left h1 {
    font: 48px;
    font-weight: 800;
    color: #F9FAF8;
  }

  .header-links ul {
    display: flex;
    list-style-type: none;
    gap: 12px;
  }

  .header a, .hero-subtext {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
  }

  .header-links {
    margin-left: auto;
  }

  .random-info {
    display: flex;
    flex-direction: column;
  }

  .random-info h1, 
  .quote1 {
    font-size: 36px;
    color: #1F2937;
  }

  .random-info {
    display: flex;
    text-align: center;
    margin-bottom: 80px;
  }

  .random-info h1 {
    font-weight: 800;
    margin: 36px auto;
  }

  .book-images {
    display: flex;
    justify-content: center;
    gap: 48px;
  }

  .book-image img {
    height: 200px;
    width: 200px;
    border-radius: 8px;
  }

  .book-image {
    max-width: 200px;
  }

  .quote {
    background-color: #E5E7EB;
    padding: 80px 300px;
    text-align: right;
  }

  .quote1 {
    font-style: italic;
    font-weight: 300;
    text-align: left;
  }

  .action-call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px;
  }

  .action-box {
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 36px 96px;
    color: #F9FAF8;
    width: 1000px
  }

  button {
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 8px 24px;
    border-style: none;
  }

  .action-box button {
    border-color: white;
    border-style: solid;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
  }
